<h2 class="screen-align">Users</h2>
<div id="template-ifdr" class="row">
    <div id="template-inh7" class="cell">
        <label id="template-ic0t" class="label">name</label>
        <input id="template-i6nq" [(ngModel)]="system.name" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
        <button id="template-iro3" (click)="GpCreate()" class="button btn btn-primary">Send</button>
    </div>
    <div id="template-i9f7" class="cell">
        <label id="template-ibc9" class="label">email</label>
        <input id="template-i9br" [(ngModel)]="system.email" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
    </div>
</div>